
body {
	background-image: url('../images/bgrep.jpg');
}
body .ui-mobile .type-home .ui-content { 
    background: white url(images/bg.jpg);
}
body .ui-mobile-viewport {
	background-image: url(images/bg.jpg);
}
.ui-page { 

background: rgb(125,126,125); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 2%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(2%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 2%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 2%,rgba(14,14,14,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 2%,rgba(14,14,14,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(125,126,125,1) 2%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.Won {
    background-color:#19ac5b;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
	font-family: lato;


}
.Lost {
    background-color:#d53251;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
}
.TBP {
    background-color:#3cc8e7;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
}
li a p{
	vertical-align: middle;
}
#notrp,#notrp2,#notrp3{
	overflow: hidden;
	height: 80%;
	

}
ul {
	padding:10px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	overflow: hidden;

}
#aici3 li,#aici2 li,#aici li {
	margin-bottom: 5px;
	min-height: 50px;

	
}
#myfooter{
	border: none;
}
#footnav li{
	height:10%;
	border: none;
}

.header{
	height:59px;
	
	vertical-align: middle;

}

#myheader{
	vertical-align: middle;
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
		font-size: 120%;
		border: none;

}
h1{
	font-family: latolight;
	color: #d7dee0;
		text-shadow:0 0 0;

}
.ui-header.ui-title{
	font-family: latolight;
	font-size: 120%;
	color: #d7dee0;
}
p{
	font-family: latolight;
	color: #d7dee0;
	text-shadow:0 0 0;
}
table{
	width:100%;
	border:1px solid #AAD5DB;
	box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
	font-family: lato;
	color: #d7dee0;
		text-shadow:0 0 0;

	

}
table .col1{
	width: 15%;
}
table .col2{
	width: 30%;
}
.ui-content{
	text-align: center;
	vertical-align: middle;
}
h1{
	vertical-align: middle;
}
td {
	font-family: latolight;
	font-size: 90%;
		text-shadow:0 0 0;

}
#betbtn{
	background-color: #0586A6;
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	font-family: latolight;
	font-size: 110%;
	color: #AAD5DB;
	border: none;
	border-radius: 0px;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	
	text-shadow:1px 1px 0px #aade7c;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.classname:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

}
#divbet a{
	text-align: center;
	text-decoration: none;
	color: #d7dee0;

}
#divbet{
		padding-left: 30%;
		padding-right: 30%;
		color: #d7dee0;
}
#notrp2 table td , #notrp table td{
	border: 1px solid #AAD5DB;
}
.ui-footer .ui-navbar .ui-btn , .ui-page-theme-b .ui-btn,.ui-page-theme-b,.ui-page-theme-b .ui-bar-inherit{
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	font-family: latolight;
	border: none;

	color: #d7dee0;
}
.ui-footer .ui-navbar .ui-btn-active {
	background-color: #0586A6;
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	font-family: latolight;
	border: none;
	color: #77d42a;
}