@font-face{
	font-family: arimo;
	src:url(fonts/Arimo-Regular.ttf) format('truetype');
}
@font-face{
	font-family: lato;
	src:url(fonts/lato/Lato-Reg.ttf) format('truetype');
}
body {
	background-image: url('../images/bgrep.jpg');
}
body .ui-mobile .type-home .ui-content { 
    background: white url(images/bg.jpg);
}
body .ui-mobile-viewport {
	background-image: url(images/bg.jpg);
}
.ui-page { 

background: url('../images/bgrep.jpg');

}
.Won {
    background-color:#74cf1e;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
	font-family: lato;


}
.Lost {
    background-color:#d53251;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
}
.TBP {
    background-color:#3cc8e7;
    opacity:0.75;
    border: 2px solid black;
    vertical-align: middle;
    box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
}
li a p{
	vertical-align: middle;
}
#notrp,#notrp2,#notrp3{
	overflow: hidden;
	height: 80%;
	

}
ul {
	padding:10px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	overflow: hidden;

}
#aici3 li,#aici2 li,#aici li {
	margin-bottom: 5px;
	min-height: 50px;
	border-radius: 5px;

	
}
#footnav li{
	height:10%;
	background-color: red;
}

.header{
	height:10%;
	
	vertical-align: middle;

}
body {
	background-image: url(../images/bg.jpg);
}
#myfooter{
	background-color: red;
	
	
}
#myheader{
	vertical-align: middle;
		background-color: #3e6d7b;
		font-size: 120%;

}
h1{
	font-family: lato;
	color: #d7dee0;
}
.ui-header.ui-title{
	font-family: lato;
	font-size: 120%;
	color: #d7dee0;
}
p{
	font-family: lato;
	color: #d7dee0;
}
table{
	width:100%;
	border-radius: 5px;
	border:2px solid black;
	box-shadow: 2px 2px 3px grey;
	box-shadow: 1px 1px 1px grey inset;
	font-family: lato;
	color: #d7dee0;
	background-color: #275c6b;

}
table .col1{
	width: 15%;
}
table .col2{
	width: 30%;
}
.ui-content{
	text-align: center;
	vertical-align: middle;
}
h1{
	vertical-align: middle;
}
td{
	font-family: lato;
}
#betbtn{
	background-color: #19ac5b;
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	font-family: lato;
	font-size: 110%;
	color: #d7dee0;
	

}
#divbet a{
	text-align: center;
	text-decoration: none;
	color: #d7dee0;

}
#divbet{
		padding-left: 30%;
		padding-right: 30%;
		color: #d7dee0;
}
#notrp2 table td {
	border: 1px solid black;
}
.ui-footer .ui-navbar .ui-btn , .ui-page-theme-b .ui-btn,.ui-page-theme-b,.ui-page-theme-b .ui-bar-inherit{
	background-color: #3e6d7b;
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.06);
	font-family: lato;
	font-size: 100%;
	color: #d7dee0;
}
.ui-footer .ui-navbar .ui-btn-active {
	background-color: #19ac5b;
	-webkit-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	-moz-box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	box-shadow: inset 0 0 0 1px rgba(245,245,245,.2);
	font-family: lato;
	font-size: 100%;
	color: #d7dee0;
}